* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Tahoma";
  font-weight: normal;
  font-style: normal;
}
.header {
  background-color: #f1f1f1;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 1167px;
  padding: 0 15px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__book {
  text-decoration: none;
  color: #000;
}
.header__burger {
  display: none;
  width: 50px;
  height: 40px;
  position: relative;
}
.header__line {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #000;
  transition: 0.6s ease;
}
.header__line-1 {
  top: 0;
}
.header__line-2 {
  top: 50%;
}
.header__line-3 {
  top: 50%;
}
.header__line-4 {
  bottom: 0;
}
.header__burger.active .header__line-1 {
  display: none;
}
.header__burger.active .header__line-4 {
  display: none;
}
.header__burger.active .header__line-2 {
  transform: rotate(45deg);
}
.header__burger.active .header__line-3 {
  transform: rotate(-45deg);
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.header__link {
  color: black;
  text-decoration: none;
}
.header__account {
  color: black;
  text-decoration: none;
}

/* секция cover*/
.cover {
  margin: 0 auto;
  max-width: 1370px;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 70px;
}
.cover__box {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
  align-items: center;
}
.cover__image {
  max-width: 458px;
  height: 648px;
}
.cover__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.cover__desc {
  max-width: 520px;
}
.cover__author {
  font-size: 24px;
  margin-bottom: 22px;
}
.cover__title {
  font-size: 54px;
  margin: 0;
  margin-bottom: 15px;
}
.cover__subtitle {
  margin-bottom: 47px;
  font-size: 24px;
}
.cover__info {
  display: flex;
  gap: 0 40px;
  margin-bottom: 50px;
  font-size: 16px;
}
.cover__cost {
  display: flex;
  gap: 0 65px;
  margin-bottom: 50px;
}
.cover__favourites {
  display: flex;
  justify-content: space-between;
  gap: 0 12px;
  align-items: center;
}
.cover__rub {
  line-height: 22px;
  width: 0.4em;
  border-bottom: 4px solid #000;
  display: inline-block;
}
.cover__price {
  font-size: 55px;
}
.button {
  padding: 22px 53px;
  border-radius: 10px;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}
.button__read {
  background-color: #ff9d00;
  color: #ffffff;
  border: none;
}
.button__buy {
  background-color: #ffffff;
  color: #ff9d00;
  border: 2px solid #ff9d00;
  margin-left: 20px;
}

/* Секция book*/
.book {
  padding-top: 85px;
  padding-bottom: 95px;
  background-color: #f0f0f0;
}

.book-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.desc {
  max-width: 455px;
}
.info {
  max-width: 545px;
  background-color: white;
}
.info__box {
  padding: 60px 50px;
}
.info__top {
  display: flex;
  gap: 0 20px;
  margin-bottom: 25px;
}
.info__image {
  width: 102px;
  height: 102px;
}
.info__img {
  width: 100%;
  border-radius: 50%;
}
.info__text {
  max-width: 382px;
  margin: 0;
}

/*секция reader */
.reader {
  background-color: white;
  margin-top: 90px;
  margin-bottom: 90px;
}
.reader__title {
  margin: 0;
  margin-bottom: 55px;
  margin-left: 20px;
}

.reader__line1 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.reader__line2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.reader__photo {
  width: 164px;
  height: 164px;
  margin-bottom: 20px;
}
.reader__photo2 {
  object-fit: cover;
}

/* Секция footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #f1f1f1;
}
.footer__box {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 0 160px;
  align-items: flex-end;
}
.footer__col {
  display: flex;
  gap: 0 60px;
  flex-wrap: wrap;
}
.footer__requisites {
  max-width: 223px;
}
.footer__info {
  max-width: 232px;
}

.footer__contacts {
  max-width: 232px;
}

.footer__link {
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__arrow {
  text-align: center;
}

@media (max-width: 1200px) {
  .footer__link {
    margin-top: 40px;
  }
  .photo__none1 {
    display: none;
  }
  .reader__title {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .book {
    padding: 45px 0;
  }
  .book-box {
    flex-direction: column;
  }
  .desc {
    margin-bottom: 20px;
    max-width: 600px;
    padding: 0 15px;
  }
  .button {
    padding-top: 18px;
    padding-bottom: 21px;
    padding-right: 36px;
    padding-left: 42px;
  }
  .cover__author {
    font-size: 22px;
    padding-bottom: 0px;
  }
  .cover__title {
    font-size: 46px;
  }
  .cover__favourites {
    padding-right: 0px;
  }
}
@media (max-width: 900px) {
  .cover__box {
    flex-direction: column;
  }
  .cover__image {
    margin-bottom: 40px;
  }
  .cover__desc {
    width: 80%;
  }
}
@media (max-width: 850px) {
  .header__list {
    background-color: bisque;
    position: absolute;
    flex-direction: column;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 414px;
    text-align: center;
    width: 100%;
  }
  .header__list.active {
    left: 50%;
    transition: 1.6s;
  }
  .header__burger {
    display: block;
    order: 1;
  }
  .header__link {
    font-size: 50px;
    line-height: 3;
  }
}
@media (max-width: 800px) {
  .photo__none2 {
    display: none;
  }
}
@media (max-width: 780px) {
  .button {
    display: block;
    width: 100%;
  }
  .button__read {
    margin-bottom: 20px;
  }
  .button__buy {
    margin-left: 0;
  }
  .footer-left {
    flex-wrap: wrap;
  }
  .cover-cost {
    max-width: 250px;
  }
  .footer-box {
    gap: 0 100px;
  }
}
@media (max-width: 600px) {
  .photo__none3 {
    display: none;
  }
}
@media (max-width: 550px) {
  .cover__add {
    display: none;
  }
  .info__box {
    padding: 20px;
  }
  .info__image {
    width: 67px;
    height: 67px;
  }
  .footer-left {
    flex-direction: column;
    flex-wrap: none;
  }
}
@media (max-width: 450px) {
  .cover__title {
    font-size: 38px;
  }
  .cover__info {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  .cover__year {
    margin-bottom: 20px;
  }
  .cover__title {
    font-size: 24px;
  }
  .reader__photo {
    max-width: 120px;
    max-height: 120px;
  }
  .reader {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer__box {
    gap: 0 60px;
  }
}
@media (max-width: 400px) {
  .info__top {
    gap: 0 7px;
  }
}
